
$light-gray: #E1E6EC;
$mid-gray:   #E8E8E9;
$light-blue: #4EA0C3;
$dark-blue:  #3B8DB0;
$light-red:  #CE3E38;
$red:        #BB2F2E;
$dark-red:   #AB322B;
$green:      #278490;
$light-yellow: #F7CF95;

$text-color: #F4FAF5;
$title-color: $light-red;

$link-color: $dark-blue;
$link-hover: lighten($link-color, 10%);

/*==========  FONTS  ==========*/
$title-font: 'Montserrat', sans-serif;
$sans-serif: 'Roboto', Helvetica, Arial, sans-serif;