<footer id="site-footer">
  <p>&copy; School of Art, Design &amp; Media - Nanyang Technological University, Singapore</p>
  <img src="{{ setURL 'img/bg-footer.svg' }}" alt="">
</footer>
</body>
</html>