</main>
<footer id="site-footer" role="contentinfo">
  <p>&copy; School of Art, Design &amp; Media - Nanyang Technological University, Singapore</p>
</footer>

<script src="{{setURL 'js/scripts.js' false}}" type="text/javascript"></script>
</body>
</html>