<nav id="schedule-nav">
  {{#each collections.schedule}}{{#unless archive}}
    <a class="nav-day {{isActive ../current title}}" href="{{setURL slug true}}">{{title}}</a>
  {{/unless}}{{/each}}
</nav>