#conference-date,
#header-logo,
#sponsors {
  vertical-align: top;
}

#sponsors {
  li {
    margin: 1.5em 1em;

    img {
      height: 45px;
    }
  }
}

main {
  section {
    padding: 0 8em;
  }
}