#header-logos {
  li {
    margin: 0.5em;
    img {
      height: 40px;
    }
  }
}

#main-menu {
  text-align: left;
  padding: 0;

  .sub-menu {
    display: block;
  }

  li {
    margin: 0.3em 0;
    display: block;
  }
}

.event {
  width: 49%;
}

#schedule-nav {
  text-align: left;
}