/*===============================
=            GENERAL            =
===============================*/
body {
  font-family: $sans-serif;
  font-size: 100%;
  line-height: 1.6;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 6rem;
  min-height: 100vh;
  position: relative;
  color: $text-color;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyIiBoZWlnaHQ9IjIiPjxwYXRoIGQ9Ik0tMiAxMEwxMCAtMlpNMTAgNkw2IDEwWk0tMiAyTDIgLTIiIHN0cm9rZT0iI2Y1ZjVmNSIgc3Ryb2tlLXdpZHRoPSIxLjUiPjwvcGF0aD4KPC9zdmc+"),url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzlkZmU4Ij48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+");
}

ul {
  list-style: none;
  padding: 0;
}

ol {
  padding-left: 1.4em;
}

h1, h2, h3 {
  font-family: $title-font;
  font-weight: 400;
  color: $title-color;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  margin-bottom: 0.3em;
}

.highlight {
  font-weight: bold;
  border-bottom: 1px dotted;

  &.highlight-red {
    color: $dark-red;
  }
}

figure {
  margin: 0;
}

figcaption {
  margin: 0;
  padding: 0 0.5em;
  text-align: center;
  font-size: 0.85em;
  font-style: italic;
  color: $mid-gray;
}

.highlight-box-soft-w {
  padding: 0.5em;
  background-color: rgba(255,255,255,0.3);
}

.highlight-white-dotted-box {
  padding: 0.5em;
  border: 2px dotted white;
}

.timeline-list {
  li {
    padding: 0.7em 1em;
    border-left: 1px solid rgba(59, 141, 176, 1);
    position: relative;

    &:before {
      content: '';
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
      border: 1px solid $dark-red;
      background-color: #F5F5F5;
      position: absolute;
      left: 0.4em;
      top: 0.5em;
    }
  }
}

.zoom-font {
  font-size: 115%;
}

span.meta-title {
  font-size: 0.85em;
  color: $light-red;
}

.meta {
  font-size: 0.85em;
  font-style: italic;
  color: $mid-gray;
}
/*-----  End of GENERAL  ------*/

/*==============================
=            LAYOUT            =
==============================*/
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

article {
  margin-bottom: 4em;
  padding: 0 1em;

  .inner-section {
    padding-right: 1em;
  }

  ul li {
    padding: 0.2em 1em;

    &::before {
      content: '';
      width: 5px;
      height: 5px;
      margin: 0.5em 0 0 -0.8em;
      background-color: $title-color;
      position: absolute;
    }
  }
}

// FLUID VIDEO
.fluid-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.inner-section-title {
  margin: 0;
}

.align-center {
  text-align: center;
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 2px;

  td, th {
    padding: 1em;
    // border: 1px dotted;
  }
  th {
    background-color: rgba(255,255,255,0.5);
  }
  td {
    background-color: rgba(255,255,255,0.2);
  }
  .inner-td {
    display: inline-block;
    padding: 1em;
  }
}

.map-iframe {
  width: 100%;
}
/*-----  End of LAYOUT  ------*/

/*=============================
=            LINKS            =
=============================*/
a {
  color: $link-color;
  text-decoration: none;

  &:visited {

  }

  &:hover {
    color: $link-hover;
  }
}

.big-btn {
  text-align: center;
  padding: 0.8em 2em 2em 2em;
  // padding: 0.3em 1.6em 1em;
  background-image: url(../img/pegbar.svg);
  color: white;
  font-size: 1.2em;
  margin: 0.5em 0;
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;

  &:hover {
    color: lighten($light-blue, 25%);
  }
}
/*-----  End of LINKS  ------*/

/*===================================
=            SITE HEADER            =
===================================*/
#site-header {
  width: 100%;
}

#conference-date,
#header-logo,
#header-logos {
  vertical-align: middle;
}

#conference-date {
  margin: 0;
  font-family: $title-font;
  font-size: 0.8em;
  font-weight: 300;
  padding: 1em;

  p {
    margin: 0;
  }
}

#header-logo {
  padding: .5em 2em;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    max-width: 150px;
  }
}

.home-logo {
  display: none;
}

#header-logos {
  text-align: right;
  margin: 0;

  li {
    display: block;
    margin: 0.5em;

    img {
      height: 25px;
      width: auto;
    }
  }
}

#main-menu {
  font-family: $title-font;
  .sub-menu {
    display: none;
  }

  li {
    margin: 0.3em 0.3em 0.3em 0;
    padding: .5em 0;
    display: inline-block;

    a {
      background-color: $light-red;
      padding: .5em;
      color: white;

      &:hover {
        background-color: darken($light-red, 8%);
      }
    }
  }
}
/*-----  End of SITE HEADER  ------*/

/*============================
=            HOME            =
============================*/
.home-logo {
  width: 100%;
  text-align: center;

  img {
    width: 40%;
    height: auto;
  }
}

#updates {
  .news-date {
    font-size: 0.8em;
    font-weight: bold;
  }
}

#sponsors {
  text-align: center;
  margin-top: 4em;

  h2 {
    color: lighten($text-color, 20%);
  }

  ul {
    li {
      display: inline-block;
      vertical-align: middle;
      img {
        width: auto;
        height: 100px;
      }

      &::before {
        width: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
}
/*-----  End of HOME  ------*/

/*============================
=            NEWS            =
============================*/
.news-title-time {
  font-size: 1.2em;
  border-bottom: 1px dotted;
  width: 50%;
  display: block;
  padding: 0.5em 0;
}
/*=====  End of NEWS  ======*/

/*==============================
=            EVENTS            =
==============================*/
#events-archive {
  .event-description {
    padding-right: 2em;
  }

  .event-date {
    font-size: 1.6em;
    margin: -0.4em 0 0;
    color: $text-color;
  }

  .event-title {
    margin-top: 0;
  }

  .event-img {
    img {
      width: 100%;
      height: auto;
      line-height: 0;
    }
  }

  .event-info-ele {
    margin-bottom: 0.5em;
  }
}

#event-page {
  .event-image {
    max-width: 100%;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}


/*=====  End of EVENTS  ======*/


/*===================================
=            SITE FOOTER            =
===================================*/
#site-footer {
  font-size: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url('../img/bg-footer.svg');
  background-repeat: no-repeat;
  background-size: cover;

  img {
    width: 100%;
    height: auto;
  }

  p {
    width: 80%;
    padding: 1em 0;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    color: white;
  }
}
/*-----  End of SITE FOOTER  ------*/
