{{> head current='Updates'}}
<article>
  {{#if updates}}
  <section id="updates">
    <section id="news-intro" class="zoom-font">
      {{{ contents }}}
    </section>

    <h2>Updates</h2>
    <ul class="timeline-list">
      {{#each collections.updates}}{{#unless archive}}
        <li class="news-item">
          <span class="news-date">{{ setDate date 'MMM D, YYYY' }}: </span>
          <a href="{{ setURL slug true }}">{{ title }}</a>
        </li>
      {{/unless}}{{/each}}
    </ul>
  </section>
  {{/if}}
</article>
{{> footer }}