{{> head}}
<article>
  <header>
    <time class="news-title-time" datetime="{{ date }}">{{ setDate date 'MMM D, YYYY' }}</time>
    <h1>{{ title }}</h1>
  </header>
  <section>
    {{{ contents }}}
  </section>
</article>
{{> footer }}